In [17]:

import numpy as np
import pandas as pd
import os

class homework1:

    file_name = os.getcwd()+ '/' + 'hw1_1_dat.txt'   
    def __init__(self):
        self.hw_1a, self.hw_1b = self.hw_1ab_fun(self.file_name)
        

    def hw_1ab_fun(self, file_name):
        file = open(file_name)
        
        it_list = []
        v_list = []
        epoch_list = []
        U_list = []

        for line in file:
            for word in line.split('  '):
                if word.startswith('it='):
                    it_list.append(int(word.split(' ')[1]))
                if word.startswith('v='):
                    v_list.append(int(word.split('v=')[1]))
                if word.startswith('epoch='):
                    epoch_list.append(int(word.split(' ')[1]))
            words = line.split('  ')
            for i, word in enumerate(words):
                if word.endswith('sum is'):
                    U_list.append(float(words[i+1].split(' ')[0]))
                    
        # lists(it_list ,v_list, epoch_list, U_list)
        
        
        set(it_list)
        n_it = len(set(it_list))
        # print(n_it)

        file = open(file_name)
        n_lines=0
        for line in file:
            n_lines = n_lines + 1
        #print (n)lines)
        
        
        ################################# part b)
        

        df = pd.DataFrame(columns = ["it", "v"])
        df["it"]=it_list
        df["v"]=v_list
        # df

        dic = {}
        for my_it in set(it_list):
            mask = df.loc[:,"it"] == my_it
            df_mask = df.loc[mask,:]
            my_set = set(df_mask["v"])
            dic[str(my_it)]=my_set


        
        df = pd.DataFrame()
        df["it"]=it_list
        df["v"]=v_list
        df["epoch"]= epoch_list
        df["U"] = U_list
        df["log10Ubeta2sum"]= np.log10(df["U"].values)
        del df["U"]
        # df


        
        answer_1a = {"n_lines":n_lines , "n_it": n_it , "it":dic}
        answer_1b = df
        
#          fill in your code to get answer to part a and b here
#         Assign your answer to part a to variable answer_1a
#         and assign your answer to part b to variable answer_1b.
        
        return answer_1a, answer_1b
        
        

    def findmin(self, it, v, df):
        
        mask = df.loc[:,"it"] == it
        mask1 = df.loc[:,'v'] == v
        df_mask = df.loc[mask & mask1,:]
        smallest = np.min(df_mask["log10Ubeta2sum"])
        
#         it = it_list
#         v = v_list
        
        # fill in your code to find the smallest log10Ubeta2sum 
        # among all rows with the same it and v. 
        # Assign the smallest value to variable smallest. 
        
        return smallest

In [18]:
myanswer = homework1()
# myanswer.hw_1a
myanswer.hw_1b
# myanswer.hw_1ab_fun('hw1_1_dat.txt') # where filename is a string of file name such as 'hw1_1_dat.txt'
# myanswer.findmin(it, v, df)

       it    v  epoch  log10Ubeta2sum
0     164  176      5       -5.200286
1     164  176      6       -5.481360
2     164  176      7       -6.464732
3     164  176      8       -6.488382
4     164  176      9       -7.162887
...   ...  ...    ...             ...
4936  784   16     11        6.411282
4937  784   16     12        6.319693
4938  784   16     13        6.551808
4939  784   16     14        7.819870
4940  784   16     15        7.343799

[4941 rows x 4 columns]